h1 {
    color: rgb(235, 6, 90);
}

img {
    width: 400px;
}
.thirdDiv {
    width: 600px;
    height: 500px; 
    background-color: rgb(6, 125, 244);
}
#spanId {
    font-size: 18px;
    margin: 50px; 
} 
#thirdDiv {
    padding: 50px;
    border: 5px solid black;
}